.chef {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 450px;
}
.c-img {
  width: 330px;
  height: 449px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .chef {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
  }
  .c-img{
    width: 100%;
  }
}
